{% extends  'index.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="main-body_1">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card_1">
                    <div class="card-body_1">
                        <div class="user_info">
                            <div class="user_block">
                                <img class="QR" src="{% static '/img/QR/' %}{{ active.pk }}{{ '.png' }}" width="290"
                                     height="290">
                                <div class="table_1">
                                    <div class="row">
                                        <div class="col-sm-9 text-secondary"><a
                                                class="title_profile">{{ active.first_name }} {{ active.last_name }}</a>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm-3"><h6 class="mb-0">Email:</h6></div>
                                            <div class="col-sm-9 text-secondary"> {{ active.email }}</div>
                                        </div>
                                        <hr class="info_hr">
                                        <div class="row">
                                            <div class="col-sm-3"><h6 class="mb-0">Age:</h6></div>
                                            <div class="col-sm-9 text-secondary"> {{ active.age }}</div>
                                        </div>
                                        <hr class="info_hr">
                                        <div class="row">
                                            <div class="col-sm-3"><h6 class="mb-0">Balance:</h6></div>
                                            <div class="col-sm-9 text-secondary"> {{ active.balance }}</div>
                                        </div>
                                        <hr class="info_hr">
                                        <div class="row">
                                            <div class="col-sm-3"><h6 class="mb-0">Занятий осталось:</h6></div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if active.payment == True %}
                                                    <script> document.write({{ active.balance}}/500)
                                                    </script>
                                                {% endif %}{% if active.payment == False %}
                                                <script> alert('Вам нужно оплатить занятия!')</script> Нужна
                                                оплата{% endif %}</div>
                                        </div>
                                        <hr class="info_hr">
                                        <div class="row">
                                            <div class="col-sm-3"><h6 class="mb-0">Subs:</h6></div>
                                            <div class="col-sm-9 text-secondary"> {% if active.subs == None %} Подписка
                                                не
                                                выбрана{% endif %}{% if active.subs != None %}
                                                {{ active.subs }}{% endif %}</div>
                                        </div>
                                        <hr class="info_hr">
                                        <div class="row">
                                            <div class="col-sm-12"><a class="btn-log" target="__blank"
                                                                      href="{% url 'edit' active.pk %}">Edit</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {#    </div>#}
    {#    <div class="profile_user">#}
    {#        <h1> Личный кабинет {{ active.first_name }} {{ active.last_name }}</h1>#}
    {#        <p>Name - {{ active.first_name }}</p>#}
    {#        <P>Last name - {{ active.last_name }}</P>#}
    {#        <p>Age - {{ active.age }}</p>#}
    {#        <p>Balance - {{ active.balance }}</p>#}
    {#        <p>Payment - {{ active.payment }}</p>#}
    {#        <p>E-mail - {{ active.email }}</p>#}
    {#        <p>Type of subs - {{ active.subs }}</p>#}
    {#        <img src="{% static '/img/QR/'%}{{ active.pk}}{{'.png'}}">#}
    {#        <a href="{% url 'edit' active.pk %}">#}
    {#            <button type="submit">Редактировать профиль</button>#}
    {#        </a>#}
    {#    </div>#}
    <div class="container_1">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">Время
                    </th>
                    <th class="text-uppercase">Понедельник</th>
                    <th class="text-uppercase">Вторник</th>
                    <th class="text-uppercase">Среда</th>
                    <th class="text-uppercase">Четверг</th>
                    <th class="text-uppercase">Пятница</th>
                    <th class="text-uppercase">Суббота</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">08:30</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '8:30' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '8:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '8:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '8:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '8:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '8:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">10:00</td>
                    <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '10:00' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '10:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '10:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '10:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '10:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '10:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                </tr>

                <tr>
                    <td class="align-middle">11:30</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '11:30' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '11:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '11:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '11:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '11:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '11:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">13:00</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '13:00' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '13:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '13:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '13:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '13:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '13:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">14:30</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '14:30' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '14:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '14:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '14:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '14:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '14:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">16:00</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '16:00' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '16:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '16:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '16:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '16:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '16:00' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">17:30</td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Понедельник' and i.time == '17:30' %}{{ i.group_id }}
                        {% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Вторник' and i.time == '17:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Среда' and i.time == '17:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>

                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Четверг' and i.time == '17:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Пятница' and i.time == '17:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% for i in day %}
                        {% if i.day == 'Суббота' and i.time == '17:30' %}{{ i.group_id }}{% endif %}{% endfor %}</span>
                        <div class="margin-10px-top font-size14"></div>
                        <div class="font-size13 text-light-gray"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="payment_list">
        <tr>
            <td class="date_col">Дата</td>
            <td class="payment_col">Оплата</td>
        </tr>
        {% for i in payments %}
            <tr>
                <td class="date_col">{{ i.date }}</td>
                <td class="payment_col"> {{ i.pay }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

