{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="profile_user">
        <h1> Личный кабинет {{ active.first_name }} {{ active.last_name }}</h1>
        <p>Name - {{ active.first_name }}</p>
        <P>Last name - {{ active.last_name }}</P>
        <p>Age - {{ active.age }}</p>
        <p>Balance - {{ active.balance }}</p>
        <p>Payment - {{ active.payment }}</p>
        <p>E-mail - {{ active.email }}</p>
        <p>Type of subs - {{ active.subs }}</p>
        <img src="{% static '/img/QR/'%}{{ active.pk}}{{'.png'}}">
        <a href="{% url 'edit' active.pk %}">
            <button type="submit">Редактировать профиль</button>
        </a>
    </div>
{% endblock %}