{% extends  'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Log in to your account</h4>
            <form class="login_form" method="post">
                {% csrf_token %}
                <div class="login_form_wrap">
                    <p class="username_form">{{ form.username }}</p>
                    <p class="password_form">{{ form.password }}</p>
                    <p class='login_button'><button type="submit" class="join-form_submit">Log in</button></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}