.u-section-1 .u-sheet-1 {
  min-height: 117px;
}

.u-section-1 .u-text-1 {
  font-family: Kanit;
  margin: 20px auto 45px;
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-shape-1 {
  width: 590px;
  height: 490px;
  margin: 211px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 608px;
  height: 350px;
  margin: -701px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 558px;
  width: 800px;
  margin: -290px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 506px;
    width: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-2 .u-shape-1 {
    width: 303px;
    height: 381px;
  }

  .u-section-2 .u-shape-2 {
    width: 410px;
    height: 308px;
    margin-top: -592px;
  }

  .u-section-2 .u-image-1 {
    height: 367px;
    width: 450px;
    margin-top: -262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-shape-1 {
    width: 212px;
    height: 267px;
    margin-top: 145px;
  }

  .u-section-2 .u-shape-2 {
    width: 268px;
    height: 227px;
    margin-top: -412px;
  }

  .u-section-2 .u-image-1 {
    height: 227px;
    width: 272px;
    margin-top: -181px;
    margin-right: 32px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 640px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}