<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="what_we_do">
    <h2 class="title_do">Чему мы обучаем в рамках нашего курса?</h2>
    <div class="python_info">
        <table class="python_info_table" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td class="leftcol"><img class="python" src="/static/img/python.png"
                                         width="601" height="203" alt=""></td>
                <td valign="top" class="text_program_info">В основе нашего курса лежит язык Python,
                    с его помощью мы изучаем базовые конструкции всех языков программирования, основные
                    алгоритмы и структуры данных. Первостепенной целью курса является прикладное применение
                    изученного языка программирования в самых популярных направлениях: GameDev/WEB/AI
                </td>
            </tr>
        </table>
    </div>
    <div class="pygame_info">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td class="leftcol"><img class="pygame" src="/static/img/pygame.png"
                                         width="601" height="203" alt=""></td>
                <td valign="top" class="text_program_info"> GameDev. PyGame - это "игровая библиотека",
                    набор
                    инструментов , помогающих программистам разрабатывать игры. Разработка игр - первый
                    этап,
                    после изучения основ языка, который позволяет лучше исследовать парадигму объектно
                    ориентированного программирования (часто встречаемый термин - ООП).
                </td>
            </tr>
        </table>
    </div>
    <div class="django_info">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td class="leftcol"><img class="django" src="/static/img/django.png"
                                         width="601" height="203" alt=""></td>
                <td valign="top" class="text_program_info">WEB разработка, следующий этап , изучаемый в
                    рамках курса. Для изучения используется framework - Django, который позволяет ускорить
                    процесс обучения, на данном этапе изучается не только то, как сделать свой сайт, но и
                    в целом то, как работает интернет. Итогом этого этапа должен стать свой работоспособный
                    сайт, который доступен в интернете.
                </td>
            </tr>
        </table>
    </div>
    <div class="html_css_info">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td class="leftcol"><img class="css_html" src="/static/img/css_html.png"
                                         width="601" height="203" alt=""></td>
                <td valign="top" class="text_program_info"> WEB разработка это не только написание
                    внутренней
                    логики приложения, но и также оформление его внешнего вида и каждый будущий программист
                    должен понимать, как работают обе стороны, после чего он сам выбирает , какое из
                    направлений
                    ему ближе. Поэтому мы против использования готовых шаблонов вёрстки и приятным бонусом
                    изучаем HTML/CSS.
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>