<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>

</head>
<body>
<form method="GET">
    <input type="text" name="query" value="{{ request.GET.query }}" placeholder="Фамилия">
    <input class="button" type="submit" value="Search">
</form>
<div class="nav_buttons">
    {% for i in StudentList %}
        <p><a href="{% url 'std_detail' i.pk %}"> Фамилия</a> - {{ i.last_name }} {{ i.first_name }} - {{ i.age }}
            - {{ i.email }} - {{ i.balance }} - {{ i.subs }} - {{ i.last_login }}
            - {{ i.payment }}</p>
    {% endfor %}
    <a href="{% url 'CRM' %}">
        <button>back</button>
    </a>
</div>
</body>
</html>