<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<P>Фамилия - {{ students.last_name }}</P>
<hr>
<P>Имя - {{ students.first_name }}</P>
<hr>
<P>Возраст - {{ students.age }}</P>
<hr>
<P>Оплата - {{ students.payment }}</P>
<hr>
<P>Подписка - {{ students.subs }}</P>
<hr>
<P>Баланс - {{ students.balance }}</P>
<a href="{% url 'edit_a' students.pk %}">
    <button type="submit">Edit user</button>
</a>
<a href="{% url 'std_list' %}">
    <button>back</button>
</a>
</body>
</html>