{% extends  'base.html' %}
{#{% load crispy_forms_filters %}#}
{#{% load crispy_forms_tags %}#}

{% block main %}
    <div class="wrapper">
        <h1 class="intro_title"> Учись с нами</h1>
        <p class="intro_subtitle">
            Мы молодая и амбициозная школа, которая готовит молодых программистов. Наша программа нацелена на быстрое
            изучение основ программирования для перехода к прикладным приложениям.
        </p>
        <p class="form_title">Вы можете заполнить форму и мы свяжемся с Вами в ближайшее время:</p>
        <form class="join-form" method="POST">
            <fieldset class="join-form_wrap">
                <p class="join-form_info">
                    <input type="number" name="phone" class="field_1" placeholder="Введите номер">
                    <input type="text" name="name" class="field_1" placeholder="Введите имя">
                    {% csrf_token %}
                    <a href="{% url 'mainpage' %}">
                        <button type="submit" class="join-form_submit">send</button>
                    </a>
                </p>
            </fieldset>
        </form>
        <div class="social_img">
            <a class="telegram_ico" href="https://t.me/mwmwmmwmw"><img width="100" height="100" src="/static/img/telegram.png" alt="ico"></a>
        </div>
        <section class="subscribe">
            <div class="subscribe_wrap">
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3>Junior</h3>
                                <p>Подписка на 8 занятий в месяц. Занятия проходят в группах, максимальная количество человек в группе - 3</p>
                                <a href="#">Записаться</a>
                                <p class="card_price">Цена: 4000 р</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3>In process</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}